@media screen and (min-width: 401px)
  .container__sidebar-hamburger
    display: none

@media screen and (max-width: 899px)
  .container__mobile-header

  .container__sidebar
    box-sizing: border-box
    width: 300px
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 2
    transform: translate3d(-300px, 0, 0)
    transition: transform 0.2s ease-in-out
    padding: 20px

    .container.is-open &
      transform: translate3d(0px, 0, 0)

  .container__sidebar-hamburger
    position: absolute
    top: 20px
    left: 10px

    a
      display: inline-block
      width: 25px
      height: 25px
      background: url('https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/black/svg/close.svg')
      background-position: 50% 50%
      background-repeat: no-repeat
      background-size: contain
      margin-bottom: 20px

  .container__body
    transform: translate3d(0px, 0, 0)
    transition: transform 0.2s ease-in-out

    .container.is-open &
      transform: translate3d(300px, 0, 0)

@media screen and (max-width: 401px)
  .container__sidebar
    transform: translate3d(-400px, 0, 0)
    padding : 0
    display: flex
    background-color: $light-bg-color
    width: 100%

@media screen and (min-width: 900px)
  .container
    display: flex
    padding: 0

  .container__mobile-header
    display: none

  .container__sidebar
    display: block
    width: 30%
    min-width: 320px
    box-sizing: border-box
    padding: 40px
    background-color: $light-bg-color
    background-image: url('../assets/bg-horizontal.png')
    background-position: 100%
    background-repeat: repeat-Y
    background-size: 10px

  .container__body
    flex: 1

  .container__body--white
    background-color: white
