.Counter
    display: flex
    flex-direction: column
    color: $base-body-color
    align-items: center
    justify-content: center
    font-size: 28px

    &__button
        border: none
        font-size: 28px
        background-color: transparent
        margin: 0 5px
        cursor: pointer

@media screen and (max-width: 400px)
    .Counter
        font-size: 20px
        width: 80px

        &__button
            font-size: 2Opx
            margin: 0
