.tags
    margin: 3px 0
    display: flex
    flex-direction: row
    flex-wrap: wrap
    .tags__tag
        color: white
        padding: 3px 10px
        font-size: 10px
        margin-right: 8px
        border-radius: 20px
        margin-top: 5px
        cursor: pointer
        &-unselected
            background-color: $border-color
        &-selected
            background-color: $light-bg-color